{% load static %}
{% load i18n %}

<footer>
    <div class="footer-container">
        <div class="row mb ml">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p class="h">{% trans "About us" %}</p>
                            <ul>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "About the company" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Contact" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Certificates" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Why our company" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Career" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Awards and prizes" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p class="h">{% trans "Information" %}</p>
                            <ul>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Complaints" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Terms of cooperation" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Delivery" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Payments" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Environmental policy" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Technical and commercial departments" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p class="h">{% trans "Customer area" %}</p>
                            <ul>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Help" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Privacy policy" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "My account" %}</a></li>
                                <li><a href="https://github.com/LeatherDiamond">{% trans "Knowledge base" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="h">{% trans "Contact" %}</p>
                    <ul class="kontakt">
                        <li><strong>Your company name</strong></li>
                        <li class="loc"><i class="location"></i>ul. Ocean 34, 056100 Earth<br>Solar System</li>
                        <li><i class="phone"></i><a href="tel:+48 22 70 35 100"> +48 22 33 44 555</a></li>
                        <li><i class="fax"></i><a href="tel:+48 22 70 35 101"> +48 22 33 44 555</a></li>
                        <li><i class="email"></i><a href="mailto:company@company.com"> company@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mb mt">
            <div class="column-container row mt ml">
                <div class="col-md-9 mt col-sm-12">
                    <p class="h">{% trans "Awards" %}</p>
                    <p class="mt">
                        <img src="{% static 'images/Warstwa-609.png' %}" alt="System">
                        <img src="{% static 'images/Warstwa-608.png' %}" alt="System">
                        <img src="{% static 'images/Warstwa-605.png' %}" alt="System">
                        <img src="{% static 'images/dobra_firma.png' %}" alt="System">
                        <img src="{% static 'images/Warstwa-606.png' %}" alt="System">&nbsp;
                        <img src="{% static 'images/Warstwa-611.png' %}" alt="System">
                        <img src="{% static 'images/Warstwa-610.png' %}" alt="System">
                    </p>
                </div>
                <div class="col-md-3 mt col-sm-12">
                    <p class="h">{% trans "Stay up to date" %}</p>
                    <div class="social-icons mt">
                        <a href="https://github.com/LeatherDiamond" class="social-icon"><i class="bi bi-facebook"></i></a>
                        <a href="https://github.com/LeatherDiamond" class="social-icon"><i class="bi bi-youtube"></i></a>
                        <a href="https://github.com/LeatherDiamond" class="social-icon"><i class="bi bi-twitter"></i></a>
                        <a href="https://github.com/LeatherDiamond" class="social-icon"><i class="bi bi-instagram"></i></a>
                        <a href="https://github.com/LeatherDiamond" class="social-icon"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row dolna">
            <div class="col-md-12 text-center col-sm-12">
                <p class="bot">© 2024 Leather Diamond</p>
            </div>
        </div>
    </div>
</footer>
